<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link href="static/CSS/guesthome.css" rel="stylesheet"/>
</head>
<body>
    <div >
        <nav class="navbar">
            <div class="left">
                <h1>GuestBook</h1>
            </div>
            <div class="right">
                <a href="/">Home</a>
                <a href="/userreg">Guest Register</a>
                <a href="/userlog">Guest Login</a>
            </div>
        </nav>
      </div>
    <section class="section1">
        <div class="image">
            <img src="static/image/guestbook.jpg" alt="image" id="img"/>
        </div>
        <div class="name">
            <h1>Why GuestBook???</h1>
            <div class="names">
                <h3 style="color: blue;">Instant Feedback</h3>
                <h3 style="color: blue;">Greater Reach</h3>
                <h3 style="color: blue;">Efficiency</h3>
                <h3 style="color: blue;">Customization</h3>
                <h3 style="color: blue;">Analytics</h3>

            </div>
        </div>
    </section>
</body>
</html>
