<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotelindex</title>
  <link rel="stylesheet" href="static/CSS/hotelindex.css"/>
</head>
<body>
  <div >
    <nav class="navbar">
        <div class="left">
                <h1>GuestBook</h1>
        </div>
        <div class="right">
            <a href="/">Home</a>
            <a href="/hotreg">Hotel Register</a>
            <a href="/hotlog">Hotel Login</a>
        </div>
    </nav>
  </div>
<div class="heading">
    <h1>Navigating the Diverse Sectors of Hotel</h1>
</div>
<div class="main-container">
  <div class="card">
    <img src="static/image/Reception.jpg" alt="Reception" >
    <div class="container">
      <h4><b>Reception</b></h4>
      <p>This department manages guest check-in and check-out, handles reservations, provides information to guests, and assists with various guest inquiries and requests.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/image/housekeeping.jpg" alt="HouseKeeping" >
    <div class="container">
      <h4><b>HouseKeeping</b></h4>
      <p>Responsible for cleaning and maintaining guest rooms, public areas, and ensuring overall cleanliness throughout the hotel.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/image/engineering.jpg" alt="Repair" >
    <div class="container">
      <h4><b>Engineering/Maintenance</b></h4>
    <p> Handles the maintenance, repair, and upkeep of the hotel's physical infrastructure, including HVAC systems, plumbing, electrical systems, and other facilities.</p>
   </div>
  </div>
  <div class="card">
    <img src="static/image/food and drinks.jpg" alt="food" >
    <div class="container">
      <h4><b>Food and Beverage</b></h4>
     <p>This department includes restaurants, bars, room service, and catering services. It manages food preparation, service, and quality control.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/image/hotelneatness.jpg" alt="neatness" >
    <div class="container">
      <h4><b>cleanliness</b></h4>
      <p>Ensuring a pristine environment by maintaining high standards of hygiene and tidiness throughout the hotel premises.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/image/security.jpg" alt="security" >
    <div class="container">
      <h4><b>Security</b></h4>
      <p><p>Ensures the safety and security of guests, staff, and hotel property through surveillance, access control, emergency response procedures, and cooperation with local law enforcement.</p></p>
    </div>
  </div>
  
  </div>

  
</div>