<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GuestBook</title>
  <link rel="stylesheet" href="static/CSS/index.css"/>
  
</head>
<body>

  <div >
    <nav class="navbar">
        <div class="left">
            <h1>GuestBook</h1>
        </div>
        <div class="right">
            <a href="/hotelhome">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
  </div>

  <div class="main_container">
    <a href="/hotelfeedbacks"><p style="text-align: center;">Heyy!!</p><br>
      <p style="margin-left:5rem;">Welcome Back Manager😀.</p><br>
      <p style="margin-left:2rem;"> Click here to see Your Hotel</p> <br><p style="text-align: center;">Feedbacks</p></a></a>
  </div>

</body>
</html>

